body {
  font-family: 'Lora', serif;
  background-color: #0078a6;
  margin: 0;
}
h1, p {
  color: #222;
}
ul {
  text-align: center;
  padding: 0;
}
li {
  font-weight: bold;
  color: #fff;
  padding: 0 20px 0 20px;
  display: inline-block;
  text-decoration: none;
}
li:hover {
  color: #ddd;
  cursor: pointer;
}
.container {
  max-width: 1020px;
  margin-right: auto;
  margin-left: auto;
}
.logo {
  text-align: center;
  color: #fff;
}
.isHidden {
  display: none;
}
.catPic {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.catBox {
  background-color: #eff0f1;
  height: 400px;
  width: 300px;
  float: left;
  margin: 20px;
  text-align: center;

  /* Rounded Corners */
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}