.isHidden {
  display: none;
}
.catPic {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.catBox {
  background-color: #f4f4f4;
  height: 400px;
  width: 300px;
  float: left;
  margin: 20px;
  text-align: center;
}